* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #e2e2e2;
  display: grid;
  grid-template-rows: auto 1fr 200px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  grid-area: header;
  padding-top: 16px;
  background: white;
  box-shadow: 0 2px 3px #00000066;
  z-index: 99;
}

footer {
  background: white;
  box-shadow: 0 -2px 3px #00000066;
  z-index: 99;
  overflow: hidden;
}

footer > div {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 16px;
}

main {
  grid-area: main;
  overflow: auto;
}

footer {
  grid-area: footer;
}

footer h2 {
  padding: 0;
  margin: 0;
}

footer {
  padding: 16px;
}

header * {
  text-align: center;
  margin: 0;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: #b2b3b3;
}

fieldset {
  margin: 16px;
  background: white;
  box-shadow: 0 1px 3px #00000099;
  border: none;
}

div.button-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
